<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About | Architect of Sound</title>
  <link rel="stylesheet" href="/static/assets/css/AOS.css">
  <script src="/static/assets/js/visualizer.js" type="module"></script>
  

</head>
<body>
  <header>
    <h1>AOS</h1>
    <nav>
      <ul>
        <li><a href="AOS.html">Home</a></li>
        <li><a href="visualize.html">Visualizer</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="intro">
      <h2>About the Project</h2>
      <p>
        Architect of Sound — это интерактивная визуализация аудио, где каждая звуковая волна становится элементом искусства. 
        Проект вдохновлён природой, технологией и синестезией. 
      </p>
    </div>
  </main>

  <footer>
    <p>© 2025 Architect of Sound</p>
  </footer>
</body>
</html>
